@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
a {
    text-decoration: none;
}

body{
    font-family: 'Work Sans', sans-serif;
}

.bg-green {
    color: #ffffff;
    background-color: #43cb83;
}

.color-green {
    color: #43cb83;
}

.nav-link {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
}


.header-area{
    height: 90vh;
    background-size: cover;
}
.header-area-text{
    height: 90vh;
    padding-top: 35vh !important;
}

.header-area-text h1{
    font-size: 35px;
    font-weight: 600;
    color: #43cb83;
}

.header-area-text p{
    font-size: 15px;
    color: #5a6e79;
}

.header-area-text .btn{
    border-radius: 25px;
    color: #ffffff;
}

.header-area-text .btn:hover{
    border-radius: 25px;
    color: #ffffff;
    background-color: #252c3a;
}

/* Box Style */
.box1{
    padding: 20px;
    margin: 5px;
    height: 250px;
    background-color: #f1e3fc;
}

.box1 img{
    padding-top: 50px;
    padding-bottom: 20px;
}
.box2{
    padding: 20px;
    margin: 5px;
    height: 250px;
    background-color: #e3fcfa;
}

.box2 img{
    padding-top: 50px;
    padding-bottom: 20px;
}

.box1:hover, .box2:hover{
    background-color: #fcf0e3;
}

.abcount{
    font-size: 25px;
    font-weight: 600;
    line-height: 1.2;
}

.myform input{
    font-size: 14px;
    border-radius: 0px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #b8b8b8;
}
.myform button{
    border-radius: 25px;
    color: #ffffff;
}

.myform button:hover{
    border-radius: 30px;
    color: #ffffff;
    background-color: #E74C3C;
}

.myform p a{
    color: #87959c;
    padding-top: 15px;
    font-size: 12px;
}














.about-area h1 {
    color: #43cb83;
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 15px;
}

.about-area p {
    color: #5a6e79;
    font-size: 15px;
    text-align: justify;
}


.sign-area {
    height: 250px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background: cover;
}


.blog-area {
    padding: 70px 0;
}

.blog-area h3 {
    font-size: 30px;
    font-weight: 700;
    color: #43cb83;
}

.blog-area p {
    color: #5a6e79;
    text-align: justify;
    font-size: 14px;
}

.blog-area button {
    float: right;
    border-radius: 35px;
    padding: 5px 25px;
    margin-top: 35px;
    margin-bottom: 0px;
}

.blog-area h4 {
    font-size: 20px;
    font-weight: 600;
}

.react {
    color: #5a6e79;
}

.react2 {
    text-align: right;
}

.sub-footer {
    background-color: #252c3a;
    padding: 50px 0;
}

.sub-footer p,
a {
    color: #969595;
    font-size: 15px;
    padding-top: 15px;
}


.sub-footer li {
    display: inline-block;
}

.sub-footer li a {
    padding-right: 20px;
    font-size: 20px;
    color: #4a4a4a;
    transition: transform 1s;
}

.sub-footer li a:hover {
    color: #43cb83;
    transform: rotate(1080deg);

}

.sub-footer h6 {
    color: #ffffff;
    font-weight: 600;
}

.footer-list {
    list-style: none;
}

.footer-list a {
    display: list-item;
    font-size: 14px;
    font-weight: 600;
}

.footer-list a:hover {
    color: #43cb83;

}

.mybadge {
    color: #6b6b6b;
}

.singup-from input,
button {
    border: none;
    border-radius: 0px;
    padding: 10px;
}

.singup-from button {
    color: #ffffff;
    border: none;
    background-color: #43cb83;
}

.clam-footer {
    background-color: #1d232e;
    font-size: 14px;
    color: #6b6b6b;
    padding: 10px 0;
}


.clam-footer li {
    display: inline-block;
}

.clam-footer li a {
    padding-right: 20px;
    font-size: 14px;
    color: #6b6b6b;
}

.clam-footer li a:hover {
    color: #43cb83;

}